# Node
node_modules
.pnpm-store

# Next
.next
out

# Nest
dist

# Env files
.env
.env.*
.env.*.local
.env.local
infra/.env
apps/api/.env
apps/web/.env.local

# Logs
*.log

# Prisma
prisma/dev.db

# OS
.DS_Store

# Not needed docs
docs
